body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fffaf0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #333;
}

form {
    background-color: #333;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px; /* Add padding for input */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Fixed width for input */
    margin-right: 10px; /* Space between input and button */
    font-size: 16px; /* Font size for input */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus {
    border-color: #4CAF50; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button {
    padding: 10px 15px; /* Padding for button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

button:active {
    transform: scale(0.95); /* Slightly shrink button on click */
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    margin-top: 50px;
}

.epub-content {

    margin-right: 50px;
    
    overflow-y: auto;
    border-radius: 20px;
    
    width: 100vh;
    max-height: 90vh;
    
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.search-engine {
    border-radius: 20px;
    width: 60vh;
    max-height: 90vh;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.results {
    height: 68vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    background-color: #ffffff;
    margin-bottom: 20px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-radius: 20px;
}